@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,600&display=swap');
.masonry {
  columns: 4;
  column-gap: 1rem;
  padding: 2rem 7vw;
}
@media (max-width: 1200px) {
  .masonry {
    columns: 3;
  }
}
@media (max-width: 872px) {
  .masonry {
    columns: 2;
  }
}
@media (max-width: 600px) {
  .masonry {
    columns: 1;
  }
}
.masonry .grid-images {
  margin-bottom: 1rem;
  position: relative;
}
.masonry .grid-images .photo {
  width: 100%;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-img {
  border-radius: 50%;
  height: max(40px, 2.2vw);
  width: max(40px, 2.2vw);
}
.col {
  display: grid;
  margin-left: 5%;
}
.author-name {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: clamp(12px, 1vw, 17px);
}
.tag {
  display: flex;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-size: clamp(10px, 0.8vw, 15px);
}
.tags {
  margin-left: 5%;
  flex-wrap: wrap;
}
.like {
  height: max(20px, 1.1vw);
  width: max(20px, 1.1vw);
  margin-right: 5%;
}
.like-amt {
  font-size: clamp(10px, 0.8vw, 15px);
  font-family: 'Montserrat';
  font-weight: 700;
  white-space: nowrap;
}

.modal {
  position: fixed;
  height: 100vh;
  display: flex;
  width: 100%;
  background-color: 'red';
  z-index: 20;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  padding: 0 5vw;
}
