.searchContainer {
  display: flex;
  border: 1px solid;
  border-radius: 6px;
  padding-right: 0.5%;
  border: none;
  font-family: 'Roboto';
  position: relative;
}
.navBar .searchContainer {
  margin-left: auto;
}
.SearchIcon {
  height: 20px;
  width: 20px;
  margin-right: 2%;
}

@media (max-width: 600px) {
  .navBar .searchContainer {
    display: none !important;
  }
}
